.info-image {
    position: absolute;
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.info-content {
    position: absolute;;
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;
    
    background: #1A1B21;
}

.info-content > h3 {
    position: absolute;
    width: 178.06px;
    height: 25.81px;
    left: 65px;
    top: 0.4px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.info-content > p {
    position: absolute;
    width: 178.06px;
    height: 14.19px;
    left: 65px;
    top: 43px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    
    color: #F3BF99;
    
}

.info-link {
    position: absolute;
    width: 178.06px;
    height: 16px;
    left: 65px;
    top: 74px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    
    
    text-align: center;
    
    color: #F5F5F5;
    
}

a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.info-button {
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    position: absolute;
    width: 247px;
    height: 34px;
    left: 35px;
    top: 110px;
    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.info-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}